# Operating system files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/

# Python temporary files
__pycache__/
*.py[cod]

# Local Python environments
.venv/
venv/

# Jupyter temporary files
.ipynb_checkpoints/

# Environment variables and secrets
.env
.env.*
!.env.example

cypher/exercise-cypher.cypher